@charset "UTF-8";

/* Configurações Gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 0px rgb(16, 16, 16);
    padding: 10px;
}

