@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#0878D4 3%,#1547EB);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 14px rgb(69, 50, 142);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #1908D4;
   text-align: center;
   text-shadow: 1px 1px 2px rgba(5, 54, 248, 0.584);
}

h2{
   color: #0878D4;
}

p{ 
    text-align: justify;
}